html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url('blue-bar.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title {
    text-align: center;
    color: ghostwhite;
    font-size: 10em;
    margin: 2% auto;
    text-shadow: 10px 10px orangered;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 600;
    z-index: 1;
}

.main_content {
    display: flex;
    flex-flow: row wrap;
    margin-top: 14vh;
    height: 86%;
}

.randomizerButton, .newRecipe, .newBeer {
    background: rgba(255, 69, 0, 0.5);
    border-radius: 1em;
    color: white;
}

.randomizerButton {
    font-size: 6em;
    width: 80%;
    margin: auto;
}

.contentRecipe, .contentBeer {
    width: 95%;
    margin: 2% auto;
    height: 70%;
}

.newRecipe, .newBeer {
    width: 50%;
    font-size: 3em;
}

.recipe {
    height: 44%;
    font-size: 4em;
    color: white;
    background: rgba(0, 0, 0, 0.4);
}

.youtube {
    height: 50%;
}

iframe {
    width: 100%;
    height: 100%;
}

/* .addScroll{
    overflow-y: scroll;
} */

/* .contentBeer{
    overflow-y: scroll;
    padding-left:2%;
    padding-right:2%;
    height:100%;
    display:inline-block;
    width: 50%;
    font-size: 3rem;
    color: aqua;
} */

#beerName{
    font-size: 4rem;
    color: aqua;
}

#beerDescription{
    height: 30%;
    color: black;
    display:inline-block;
    font-size:83%;

}

.map{
    color: black;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 33%;
}

.beer{
    font-size: 2rem;
}

.beer{
    font-size:25px;
    overflow: scroll;
}

.title:hover, .randomizerButton:hover, .newRecipe:hover, .newBeer:hover {
    cursor: pointer;
}
