body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-image: url('blue-bar.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title {
    text-align: center;
    color: ghostwhite;
    font-size: 10em;
    margin: 2% auto;
    text-shadow: 10px 10px #0010e4;
    position: fixed;
    top: 0;
    width: 100%;
}

.main_content {
    /* height: 91%;
    width: 64%; */
    /* position: relative; */
    /* left: 19%;
    top: 6%; */
    /* font-size: 4em;
    color: aqua;
    font-weight: 800; */
    display: flex;
    flex-flow: row wrap;
    margin-top: 14vh;
}

.randomizerButton {
    font-size: 6em;
    color: white;
    /* top: 29%; */
    /* left: 26%; */
    /* position: relative; */
    background-color: #6d2f18;
    opacity: 0.8;
    /* z-index: 1; */
    /* height: 31%; */
    width: 80%;
    border-radius: 1em;
    margin: auto;
    /* position: absolute; */
    transform: translateY(6em);
}

.contentRecipe {
    width: 95%;
    margin: 0 auto;
}

.newRecipe{
    width: 50%;
    border-radius: 1em;
    background-color: #C84127;
    color: aqua;
    font-size: 3em;
    /* display: inline-block;
    vertical-align: top; */
}

.recipe{
    height: 80%;
    font-size: 4em;
    color: white;
}

.youtube{
    height: 100%;
}

/* .addScroll{
    overflow-y: scroll;
} */

/* .newBeer{
    height: 12%;
    width: 14%;
    position: absolute;
    border-radius: 13rem;
    background-color: #C84127;
    top: 10%;
    font-size: 3rem;
    color: aqua;
    left: 86%;
}



.contentBeer{
    overflow-y: scroll;
    padding-left:2%;
    padding-right:2%;
    height:100%;
    display:inline-block;
    width: 50%;
    font-size: 3rem;
    color: aqua;
}



#beerName{
    font-size: 4rem;
    color: aqua;
}
#beerDescription{
    height: 30%;
    color: black;
    display:inline-block;
    font-size:83%;

} */
.map{
    color: black;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 33%;
}


iframe{
    width: 100%;
    height: 100%;
}


.beer{
    font-size: 2rem;
}
.beer{
    font-size:25px;
    /*fonnt-family: fanatasy;*/
    overflow: scroll;
}

.title:hover, .randomizerButton:hover {
    cursor: pointer;
}
