html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-image: url('blue-bar.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title {
    text-align: center;
    color: ghostwhite;
    font-size: 3em;
    margin: 2% auto;
    text-shadow: 5px 5px orangered;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 600;
    z-index: 1;
}

.main_content {
    height: 88%;
    width: 100%;
    top: 12%;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: stretch; */
}

.randomizerButton, .newRecipe, .newBeer {
    background: rgba(255, 69, 0, 0.6);
    border-radius: 1em;
    color: white;
}

.randomizerButton {
    font-size: 2em;
    width: 80%;
    margin: auto;
    transform: translateY(30vh);
    display: inherit;
}

.contentRecipe, .contentBeer {
    width: 95%;
    margin: 0 auto;
    height: 70%;
    flex: 1 0 auto;
}

.contentBeer {
    margin: 5% auto;
}

.newRecipe, .newBeer {
    width: 50%;
    font-size: 1em;
}

.recipe {
    height: 45%;
    font-size: 1em;
    color: white;
    background: rgba(0, 0, 0, 0.7);
}

.youtube {
    height: 45%;
}

iframe {
    width: 100%;
    height: 100%;
}

.beerName {
    font-size: 1em;
    color: white;
    background: rgba(0, 0, 0, 0.7);
}

.beerDescription {
    height: 35%;
    color: orangered;
    font-size: 1em;
    background: rgba(0, 0, 0, 0.9);
    overflow: scroll;
}

.map {
    color: black;
    position: absolute;
    overflow: hidden;
    width: 94%;
    height: 35%;
}

.title:hover, .randomizerButton:hover, .newRecipe:hover, .newBeer:hover {
    cursor: pointer;
}
